{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="container" id="blur">
    <div class="card">
        <section class="table__header">
            <div class="title">
                <h1>Líder</h1>
                <button class="btn" title="Criar" onclick="openForm(this)" id="criar">
                    <i class="ri-add-circle-fill"></i>
                </button>
            </div>

            <div class="input-group">
                <input type="search" name="search" id="search" placeholder="Pesquisar..." onkeyup="filterTable()">
                <i class="ri-search-line"></i>
            </div>

            <!-- TODO: adicionar funcionalidade -->
            <div class="input-radio">
                <input type="radio" name="radioButton" id="ativo" checked>
                <label for="ativo">Ativo</label>

                <input type="radio" name="radioButton" id="inativo">
                <label for="inativo">Inativo</label>

                <input type="radio" name="radioButton" id="todos">
                <label for="todos">Todos</label>
            </div>
        </section>
        <section class="table__body">
            <table class="table-sortable" id="table-sortable">
                <thead>
                    <tr>
                        <th class="th-id">ID</th>
                        <th class="th-name">Nome</th>
                        <th>Setor</th>
                        <th>E-mail</th>
                        <th class="th-action" colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for lider in lideres %}
                    <tr>
                        <td>{{ lider.id }}</td>
                        <td>{{ lider.nome }}</td>
                        <td>{{ lider.departamento }}</td>
                        <td>{{ lider.email }}</td>
                        <td colspan="2">Ações</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </section>
    </div>
</div>

<div class="popup" id="popup">
    <img src="{% static 'image/exclamation.png' %}" alt="">
    <h2>Cuidado!</h2>
    <p>Tem certeza que deseja deletar esse líder?</p>
    <button class="btn-primary" type="button" onclick="closePopup()">Cancelar</button>
    <button class="btn-danger" type="button" onclick="deletar()">Deletar</button>
</div>

<div class="alert alert-reg">
    <i class="ri-checkbox-circle-fill"></i>
    <span class="reg-msg msg">Salvo com sucesso!</span>
    <span class="close-btn close-btn-reg">
        <i class="ri-close-line"></i>
    </span>
</div>

<div class="alert alert-del">
    <i class="ri-checkbox-circle-fill"></i>
    <span class="del-msg msg">Deletado com sucesso!</span>
    <span class="close-btn close-btn-del">
        <i class="ri-close-line"></i>
    </span>
</div>

<script src="{% static 'js/lider.js' %}"></script>
<!-- <script src="{% static 'js/lider.service.js' %}"></script> -->

{% endblock %}